<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>nTalk</h1>
    <h4>Bem-vindo!</h4>
</header>
<section>
    <form action="/entrar" method="post">
        <input type="text" name="usuario[nome]" placeholder="Nome">
        <input type="email" name="usuario[email]" placeholder="E-mail">
        <button type="submit">Entrar</button>
    </form>
</section>
<footer>
    <small>Ntalk - agenda de contatos</small>
</footer>
</body>
</html>